<div class="header">
    <a class="link" routerLink="/home"> <img class="mainlogo" src="mainlogo.webp" alt="mainlogo"></a>
    <nav class="nav">
        <ul class="navlist">
            <li><a class="navlink" routerLink="/home" routerLinkActive="activelink"
                    ariaCurrentWhenActive="page">Головна</a></li>
            <li><a class="navlink" routerLink="/team" routerLinkActive="activelink"
                    ariaCurrentWhenActive="page">Команда</a>
            </li>
            <li><a class="navlink" routerLink="/products" routerLinkActive="activelink"
                    ariaCurrentWhenActive="page">Продукти</a>
            </li>
            <li><a class="navlink" routerLink="/contacts" routerLinkActive="activelink"
                    ariaCurrentWhenActive="page">Контакти</a>
            </li>
        </ul>
    </nav>
</div>