.notfound {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 25px 0 50px 0;
}

.icon {
    font-size: 7rem;
    height: 7rem;
    width: 7rem;
    padding: 0;
    margin: 0;
}