<header class="header">
  <img class="mainlogo" src="mainlogo.webp" alt="mainlogo" />
  <p>Вітаємо на НХНЛ базі!</p>
  <nav class="nav">
    <ul class="navigation">
      <li><a routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Головна</a></li>
      <li><a routerLink="/team" routerLinkActive="active" ariaCurrentWhenActive="page">Команда</a></li>
      <li><a routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">Продукти</a></li>
      <li><a routerLink="/club" routerLinkActive="active" ariaCurrentWhenActive="page">Клуб</a></li>
    </ul>
  </nav>
</header>
<router-outlet />
<footer class="footer">
  <div>
    <img class="footerlogo" src="mainlogo.webp" alt="footerlogo" />
    <p>Соцмережі:</p>
    <a href="https://www.facebook.com/profile.php?id=100080126141227" target="_blank" rel="noopener noreferrer">
      <img class="socialicon" src="facebook.svg" alt="facebook">
    </a><a href="https://www.instagram.com/nhnl.com.ua" target="_blank" rel="noopener noreferrer">
      <img class="socialicon" src="instagram.svg" alt="instagram">
    </a>
    <a href="https://t.me/nhnl_fans" target="_blank" rel="noopener noreferrer">
      <img class="socialicon" src="telegram.svg" alt="telegram">
    </a>
  </div>
  <div>
    <p>© НХНЛ база 2024 - всі права захищено</p>
  </div>
  <div class="footerinfo">
    <a class="tel" href="mailto:info@nhnl.com.ua">
      <mat-icon aria-hidden="false" aria-label="Phone" fontIcon="mail"></mat-icon>
      напишіть нам</a>
    <a class="tel" href="tel:+380682854242">
      <mat-icon aria-hidden="false" aria-label="Phone" fontIcon="phone"></mat-icon>
      (068) 285-42-42</a>
    <a class="tel" href="tel:+380635760443">
      <mat-icon aria-hidden="false" aria-label="Phone" fontIcon="phone"></mat-icon>
      (063) 576-04-43</a>
    <a class="tel" href="https://maps.app.goo.gl/Lj9YqFjSsDxabLwu8" target="_blank" rel="noopener noreferrer">
      <mat-icon aria-hidden="false" aria-label="Location" fontIcon="location_on"></mat-icon>
      Київ, вул. Чистяківська 2а
    </a>
  </div>


</footer>