/* You can add global styles to this file, and also import other style files */
html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('../public/mosaic.png');
    color: #78BF60;
}

.root {
    width: 100%;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: -webkit-fill-available;

    @media screen and (min-width: 320px) {
        width: 320px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}